
*{
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #74ebd5;
}

html{
 
    font-family: 'Sedgwick Ave',Arial, Helvetica, sans-serif;
}

.visor {
background-color: #5bb3ee;   
width: 20rem;
height: 5rem; 
box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
font-size: 4rem;
border-radius: 1em;
text-align: right;
padding: 3 rem;
position: relative;
left:200px;
top: -200px;
padding-right: 1.5rem;}

.visor > text{
    position: relative;
    left: 250px;
}

.contador {
cursor: pointer;
background-color: #00FA9A;
box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
border-radius: 2em;
overflow: hidden;
width: 4rem;
height: 4rem;
max-width: 80%;
position: relative;
top: -100px;
left: -20px;
font-size: 20px;
}

.seletor {
    border-radius: 2em;
    position: relative;
    left: -250px;
    top: 0;
}
#coiso {
    background-color: lemonchiffon;
    position: relative;
    width: 350px;
    border: 1px solid black;
    padding: 4px;
}
.seletor label {
    margin-bottom: 0.2rem;
    display: block;
}
#dec {
    position: relative;
    left: 30px;
}
#inc{
    position: relative;
    left: -50px;
}